.row {
  display: flex;
}
/* .row1{
    border: 1px solid black;;
} */
.column2 {
  flex: 70%;
  padding: 10px;
  height: 350px;

}
.column3 {

    padding: 10px;
    height: 600px;
    /* back
    ground-color:red; */
  }
.image1 {
  background-image: url("../images/b.png");
  /* opacity: 0.7;  */
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: 700px;
  position: relative;
}


.image2 {
  background-image: url("../images/c.png");
  /* opacity: 0.7;  */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  /* position: relative; */
}
.h11 {
  position: absolute;
  right: 100px;
  top: 250px;
  /* border: 1px solid red; */
  letter-spacing: 9px;
  text-align: right;
  line-height: 50px;
}
.btn1{
    width: 170px;
    height: 40px;
    color: white;
    border-radius: 4px;
    /* padding-bottom: 30px; */
    /* padding: 10px; */
   
   
}
.btn1:hover{
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.role {
  letter-spacing: 6px;
  margin-left: 100px;
  
}
.role1{
    letter-spacing: 6px;
  margin-left: 100px;
  
    margin-top: 100px;
}
.column4 {
    margin-left: 100px;
    flex: 30%;
    padding: 10px;
    height: 500px;
  
  }
  .column5 {
    flex: 60%;
    padding: 10px;
    height: 500px;
    margin-top: 50px;

  }



.lorem-role {
 
  margin-top: 50px;
  letter-spacing: 2px;
  text-align: right;
  line-height: 35px;
  font-weight: 200px;
  font-size: 28px;
  text-align: left;
}
.logo-text {
  font-size: 24px;
  
  font-weight: bold;
  line-height: 30px;
}
.below-word {
  margin-left: 80px;
  /* float: left; */
}
.margin-role {
  margin-top: 50px;
  margin-left: 100px;
}

.title {
  font-size: 50px;
  text-shadow: -3px 3px #bbb;
}
